# Dependencias de Node (esto evita subir miles de archivos innecesarios)
node_modules/
dist/

# Archivos de sistema operativo (Mac y Windows)
.DS_Store
Thumbs.db

# Logs de errores
npm-debug.log*
yarn-debug.log*