body { font-family: sans-serif; padding: 20px; background: #f4f4f4; }
.item { background: white; padding: 10px; margin-bottom: 5px; display: flex; justify-content: space-between; border-radius: 5px; width: 300px; }
.add-btn { background: #28a745; color: white; border: none; cursor: pointer; border-radius: 3px; }
#basket-container { margin-top: 20px; background: #fff; padding: 15px; width: 300px; border: 2px dashed #ccc; }
.remove-btn { color: red; margin-left: 10px; cursor: pointer; font-weight: bold; text-decoration: none;}
ul { padding: 0; list-style: none; }
li { border-bottom: 1px solid #eee; padding: 5px 0; display: flex; justify-content: space-between; }